@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Variables */
:root {
  --font-family: 'Open Sans', sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #1c1c1c;
  --primary-color: #537dac;
  --secondary-color: #ff7235;
  --primary-shadow: #4b4b4b;
  --secondary-shadow: #888888;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
  --color: rgb(237, 237, 237);
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  color: var(--color);
  background-color: var(--bg-color);
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .8rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(84, 84, 84, 0.126);
}



nav a {
  color: var(--primary-color);
  transition: var(--transition);
}

nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  width: 500px;
  height: 600px;
  margin-top: 2rem;
  margin-right: 10rem;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  border-radius: 6px;
}

.bio {
  width: 25rem;
  padding: 1.5rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: .3rem 0;
}

.about {
  background-color: var(--bg-color);
  padding: 1rem 6rem;
  scroll-margin-top: 60px;
}

.about h1 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about {
  background-color: var(--bg-color);
  padding: 1rem 6rem;
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p {
  line-height: var(--line-height);
  background-color: var(--bg-color);
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
  color: var(--color);
  
}

.skills {
  background-color: var(--bg-color);
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
  scroll-margin-top: 60px;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
  color: rgb(44, 44, 44);
  scroll-margin-top: 60px;
}

.project-pic {
  width: 18rem;
  height: 13rem;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color);
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: var(--bg-color);
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
  color: var(--color);
}

.box-3 {
  background-color: #66A182;
}

.btn {
  line-height: 25px;
  height: 30px;
  text-align: center;
  width: 150px;
  cursor: pointer;
  border-radius: 6px;
}

.btn-three {
  background-color: #336196;
  color: var(--color);
  transition: all 0.5s;
  position: relative;
}

.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}

.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
  border-radius: 6px;
}

.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.contact {
  margin-top: 2rem;
}

.d-none {
  display: none;
}

.contact-form p {
  text-align: center;
  font-size: 1.3em;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
  background-color: var(--bg-color);
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
  background-color: var(--bg-color);
  color: var(--color);
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--color);
}

textarea {
  resize: none;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
  color: var(--color);
}

.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}


footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}

.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}

/*!!DIFFERENT SCREEN SIZE AREA!!*/


@media screen and (max-width: 720px) {
  nav {
    padding: .5rem 3rem;
  }

  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 54px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
    background-color: rgb(0, 0, 0);
  }

  nav ul li {
    margin: 6px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.8);
  }

  .hero {
    margin-top: -1rem;
    margin-left: 10rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    margin-top: 2.5rem;
    margin-bottom: -5rem;
    height: 37rem;
    width: 30rem;
  }

  .bio {
    margin-top: -6rem;
    margin-right: 9rem;
    width: 20rem;
    background-color: rgba(0, 0, 0, 0.5)
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container,
  .project-card {
    width: 28rem;
    height: 24rem;
  }

  .project-pic {
    width: 24rem;
  }

  .contact-form-container {
    max-width: 40rem;
  }
}

@media screen and (max-width: 420px) {
  nav {
    padding: .4rem 1.5rem;
  }

  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 50px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .hero img {
    margin-top: 3rem;
    margin-bottom: -4rem;
    height: 30rem;
    width: 22rem;
  }

  .bio {
    width: 18rem;
  }

  .project-container,
  .project-card {
    width: 22rem;
    height: 26rem;
  }

  .project-pic {
    width: 20rem;
    height: 12rem;
  }

  .contact-form-container {
    max-width: 23rem;
  }
}